* {
  margin:0;
  box-sizing: border-box;
}
.contain {
  position: relative;
  width: 100%;
  height: 138vh;
  background-color: black;
  overflow: hidden;
}
#background {
  position: absolute;
  width: 100%;
  height: 115vh;
  opacity: 30%;
}
.main {
display: grid;
grid-template-rows: 15% 85%;
  width: 80%;
  height: 102vh;
  opacity: 100%;
  margin: auto;
}

.nav {

position: relative;

width: 100%;
/*! height: 17%; */

border: solid;
border-color: transparent transparent #6c0707 transparent;
border-width: 1px;
/*! top: 0; */
}
.mid{

  position: relative;
  display: grid;
  grid-template-rows: 80% 20%;
  width: 100%;
  /*! height: 88%; */
  /*! top: 12%; */
  }
#icon {
  position: absolute;
  font-size: 1.3rem;
  bottom: 20px;
  left: 123px;
}
p1 {
  font-size: 1.5rem;
  position: absolute;
  bottom: 12px;
  left: 41px;
  font-family: 'Rubik Moonrocks', cursive;
  color: white;
}
.cont1 {
  position: relative;
}

p2 {
  position: absolute;
  font-size: 2.7rem;
  position: absolute;
  left: 164px;
  top: 25px;
text-align: center;
  color: #6c0707;
  font-family: 'Kanit', sans-serif;
  font-weight: 700;
  text-transform: capitalize;
}
.main1 {
  position: relative;
  width: 12%;
  height: 37vh;
  top: 180px;
  left: 903px;
  border-radius: 30px;
}
.thecard {
position: absolute;
width: 100%;
height: 100%;
background-color: rgb(255, 255, 255);
overflow: hidden;
top: 137px;
left: 891px;
border-radius: 30px;
border: solid;
border-top-color: currentcolor;
border-top-width: medium;
border-right-color: currentcolor;
border-right-width: medium;
border-bottom-color: currentcolor;
border-bottom-width: medium;
border-left-color: currentcolor;
border-left-width: medium;
border-color: #fff;
border-width: 1px;
}
.thecard{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transform-style: preserve-3d;
  transition: all 0.8s ease;
}

#demon {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0px;
  /*! opacity: 0%; */
  visibility: hidden;
}
#button {
position: absolute;
width: 100%;
height: 4vh;
color: white;
border-bottom-left-radius: 30px;
border-bottom-right-radius: 30px;
top: 232px;
left: 0px;
border: solid;
background-color: #6c0707;
font-family: 'Kanit', sans-serif;
font-family: 'Rubik Moonrocks', cursive;
border-width: 1px;
}
p3 {
  position: absolute;
  font-size: 0.9rem;
  position: absolute;
  left: 230px;
  top: 260px;
  text-align: center;
  color: #c6c3c3;
  font-family: 'Kanit', sans-serif;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 2.5;
}
#flipped {
  position: absolute;
  width: 100%;
  height: 37vh;
}

.thefront{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  overflow: hidden;

  color: #000;
}
.theback{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  overflow: hidden;
  transform: rotateY(180deg);
}
.thecard:hover{
  transform: rotateY(180deg);
}
ul {
  position: absolute;
  top: 56px;
  right: 26px;
}
li {
  list-style: none;
  display: inline-block;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  margin-left: 54px;
  color: #c6c3c3;
  font-family: 'Kanit', sans-serif;
  cursor: pointer;
}
 li:hover {
  color: #6c0707;
 }
/*a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  margin-left: 54px;
  color: #c6c3c3;
  font-family: 'Kanit', sans-serif;
}*/
#menu {
  visibility: hidden;
}
.content2 {
  position: relative;
  display: grid;
  grid-template-rows: repeat(5,180px);
  width: 100%;
  height: 73%;
  background-color: rgb(8, 8, 9);
  top: -533px;
  left: 0px;
  padding-left: 13rem;
  padding-top: 8rem;
  grid-gap: 2rem;
  overflow: auto;
  visibility: hidden;
}
.anime {
  width: 80%;
  top: 0;
  left: 0px;
  border: solid;
  border-color: #c6c3c3;
  border-width:3px;
  translate: -1150px;
  transition: 0.6s;
  visibility: hidden;
  background-color: transparent;

}
.animeprime {
  width: 80%;
  top: 0;
  left: 0px;
  border: solid;
  /*! border-color: #c6c3c3; */
  border-width:2px;
  transition: 1s;
  visibility: visible;
  background-color: black;
  /*! border-bottom-left-radius: 30px; */
  /*! border-top-left-radius: 30px; */
  border-radius: 30px;
  border-color: #6c0707 #6c0707 #6c0707 transparent;
  cursor: pointer;
  height: 100%;
}
.animeprime:hover {
  opacity: 70%;
background-image: linear-gradient(black , #6c0707);
}
.animeprime:hover > #play {
  visibility: visible;
}


.anime1 {
  visibility: visible;
  translate: 0px;
  transition-delay: 0s;
}



.anime2 {
  visibility: visible;
  translate: 0px;
  transition-delay: 0.3s;
}



.anime3 {
  visibility: visible;
  translate: 0px;
  transition-delay: 0.6s;
}



.anime4{
  visibility: visible;
  translate: 0px;
  transition-delay: 0.9s;
}



.anime5 {
  visibility: visible;
  translate: 0px;
  transition-delay: 1.2s;
}

.piccard {
  position: absolute;
  width: 21%;
  height: 12rem;
  top: -7px;
  left: -49px;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 28px;
  border: solid;
  border-color: #6c0707;
  border-width: 2px;
  border-radius: 100px;
}
.resume {
  position: absolute;
  top: 68px;
  left: 182px;
  list-style: none;
  display: inline-block;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 600;
  margin-left: 54px;
  color: #c6c3c3;
  font-family: 'Kanit', sans-serif;
  text-align: co,center;
  text-align: justify;
  margin-left: 10px;
  margin-right: 10px;
  line-height: 2;
  text-transform: capitalize;
}
.title {
  position: absolute;
  top: 4px;
  left: 135px;
  list-style: none;
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  margin-left: 54px;
  color: #6c0707;
  font-family: 'Kanit', sans-serif;
  text-transform: capitalize;
}
.episodes {
  position: absolute;
  top: 143px;
  left: 550px;
  list-style: none;
  display: inline-block;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  margin-left: 54px;
  color: #c6c3c3;
  font-family: 'Kanit', sans-serif;
  text-transform: capitalize;
}
.seasons {
  position: absolute;
  top: 143px;
  left: 400px;
  list-style: none;
  display: inline-block;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  margin-left: 54px;
  color: #c6c3c3;
  font-family: 'Kanit', sans-serif;
  text-transform: capitalize;
}
#play {
  position: absolute;
  top: 33px;
  left: -11px;
  list-style: none;
  font-size: 7rem;
  visibility: hidden;
}
.thefield {
  position: relative;
  width: 45%;
  height: 31vh;
  background-color: transparent;
  top: 83%;
  left: 49%;
  }
  .circle {
    position: relative;
    background-color: white;
    width: 25px;
    height: 25px;
    border-radius: 30px;
    overflow:hidden;
  }
  #logo{
      position: absolute;
     font-size: 1.5rem;
     top: 50%;
     left: 50%;
  transform: translate(-50%,-50%);
  cursor: pointer;
  }
  #instagram {
      top: -30px;
  
  }
  #twitter {
      top: -60px;
  
  }
  #discord {
      top: -90px;
  
  }
  #share {
    z-index: 1;
background-color: black;
}
  
  .click {
      transition-duration: 1.5s;
      translate: 150px;
      overflow: visible;
  }
  .click2 {
      transition-delay: 0.15;
      transition-duration: 1.5s;
      translate: 330px;
      overflow: visible;
  }
  .click3 {
      transition-delay: 0.3;
      transition-duration: 1.5s;
      translate: 500px;
      overflow: visible;
  }
  
  .acount {
  position: absolute;
  font-size: 0.9rem;
  top: 10px;
  left: 40px;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  cursor: pointer;
  }

@media (min-width:340px) and (max-width:460px) {
  .contain {
      position: relative;
      width: 100%;
      height: 100vh;
      background-color: black;
      overflow: hidden;
  }
  #background {
      position: absolute;
      width: 351%;
      height: 115vh;
      opacity: 20%;
      left: -277px;
  }
  .main {
    display: grid;
    grid-template-rows: 15% 85%;
      width: 90%;
      height: 102vh;
      opacity: 100%;
      margin: auto;
  }

  .nav {

  position: relative;
  width: 100%;
  /*! height: 17%; */

  border: solid;
  border-color: transparent transparent #6c0707 transparent;
  border-width: 1px;
  /*! top: 0; */
  }
  .mid{

      position: relative;
      display: grid;
      grid-template-rows: 80% 20%;
      width: 100%;
      /*! height: 88%; */
      /*! top: 12%; */
      }
  #icon {
      position: absolute;
      font-size: 1.3rem;
      bottom: 20px;
      left: 123px;
  }
  p1 {
      font-size: 1.5rem;
      position: absolute;
      bottom: 12px;
      left: 41px;
      font-family: 'Rubik Moonrocks', cursive;
      color: white;
  }
  .cont1 {
      position: relative;
  }

  p2 {
      position: absolute;
      font-size: 1.7rem;
      position: absolute;
      left: 0px;
      top: 0p;
  text-align: center;
      color: #6c0707;
      font-family: 'Kanit', sans-serif;
      font-weight: 700;
      text-transform: capitalize;
      top: 234px;
  }
  .main1 {
      position: relative;
      width: 54%;
      height: 22vh;
      top: 34px;
      left: 73px;
      /*! visibility: hidden; */
      background-color: white;
      /*! padding-left: auto; */
      /*! justify-content: center; */
      overflow: hidden;
      border-radius: 10px;
      border: solid;
      border-color: white;
  }
  .thecard {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  top: 137px;
  left: 891px;
  border-radius: 30px;
  border: solid;
    border-top-color: currentcolor;
    border-top-width: medium;
    border-right-color: currentcolor;
    border-right-width: medium;
    border-bottom-color: currentcolor;
    border-bottom-width: medium;
    border-left-color: currentcolor;
    border-left-width: medium;
  border-color: #fff;
  border-width: 1px;
  }
  .thecard{
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      transform-style: preserve-3d;
      transition: all 0.8s ease;
      visibility: hidden;
    }

  #demon {
      position: absolute;
      width: 101%;
      height: 24vh;
      top: 0;
      left: 0px;
      /*! opacity: 0%; */
      visibility: visible;
  }
  #button {
  position: absolute;
  width: 100%;
  height: 4vh;
  color: white;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  top: 232px;
  left: 0px;
  border: solid;
  background-color: #6c0707;
  font-family: 'Kanit', sans-serif;
  font-family: 'Rubik Moonrocks', cursive;
  border-width: 1px;
  }
  p3 {
      position: absolute;
      font-size: 0.8rem;
      position: absolute;
      left: 0px;
      top: 390px;
      text-align: center;
      color: #c6c3c3;
      font-family: 'Kanit', sans-serif;
      font-weight: 700;
      text-transform: capitalize;
      line-height: 2.3;
      /*! visibility: hidden; */
  }
  #flipped {
      position: absolute;
      width: 100%;
      height: 37vh;
  }

  .thefront{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      backface-visibility: hidden;
      overflow: hidden;

      color: #000;
    }
    .theback{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      backface-visibility: hidden;
      overflow: hidden;
      transform: rotateY(180deg);
    }
    .thecard:hover{
      transform: rotateY(180deg);
    }
    #menu {
      position: absolute;
      top: 28px;
      right: 0px;
      visibility: visible;
      font-size: 1.6rem;
    }
    #ul {
      position: relative;
      top: 49px;
      right: 18px;
      background-color: #000;
      width: 112%;
      height: 124%;
      z-index: 1;
      /*! justify-content: center; */
      text-align: c;
      padding-left: 0px;
      padding-top: 16px;
      visibility: hidden;
    }
    li {
      list-style: none;
      display: block;

      left: 1px;
      margin-bottom: 14px;
    }
    a {
      text-decoration: none;
      font-size: 1rem;
      font-weight: 600;
      margin-left: 54px;
      color: #c6c3c3;
      font-family: 'Kanit', sans-serif;
      left: 0px;
      /*! position: absolute; */
      /*! margin-bottom: 15px; */
      text-transform: uppercase;
    }
    #menu {
      visibility: visible;
    }
    .content2 {
      position: relative;
      display: grid;
      grid-template-rows: repeat(5,180px);
      width: 100%;
      height: 86%;
      background-color: rgb(14, 14, 15);
      top: -659px;
      left: 0px;
      padding-left: 10rem;
      padding-top: 8rem;
      grid-gap: 7rem;
      overflow: auto;
      visibility: hidden;
      padding-bottom: 166px;
    }
    .anime {
      width: 80%;
      top: 0;
      left: 0px;
      border: solid;
      border-color: #c6c3c3;
      border-width:3px;
      translate: -1150px;
      transition: 0.6s;
      visibility: hidden;
      background-color: transparent;

    }
    .animeprime {
      width: 309%;
      top: 0;
      left: 0px;
      /*! border: solid; */
      /*! border-color: #c6c3c3; */
      /*! border-width:2px; */
      transition: 1s;
      visibility: visible;
      background-color: transparent;
      /*! border-bottom-left-radius: 30px; */
      /*! border-top-left-radius: 11px; */
      border-radius: 0px;
      border-color: transparent;
      /*! cursor: pointer; */
      /*! position: absolute; */
    }
    .animeprime:hover {
      opacity: 70%;
      background-color: rgb(29, 28, 28);
    }
    .animeprime:hover > #play {
      visibility:hidden;
    }


    .anime1 {
      visibility: visible;
      translate: 0px;
      transition-delay: 0s;
    }
    .anime2 {
      visibility: visible;
      translate: 0px;
      transition-delay: 0.3s;
    }
    .anime3 {
      visibility: visible;
      translate: 0px;
      transition-delay: 0.6s;
    }
    .anime4{
      visibility: visible;
      translate: 0px;
      transition-delay: 0.9s;
    }
    .anime5 {
      visibility: visible;
      translate: 0px;
      transition-delay: 1.2s;
    }
    .piccard {
      position: absolute;
      width: 22%;
      height: 120%;
      top: -17px;
      left: -51px;
      border-bottom-left-radius: 30px;
      border-top-left-radius: 28px;
      border: solid;
      border-color: #c6c3c3;
      border-width: 2px;
      border-radius: 30px;
    }
    .resume {
      position: absolute;
      top: 40px;
      left: 100px;
      list-style: none;
      display: inline-block;
      text-decoration: none;
      font-size: 0.8rem;
      font-weight: 600;
      margin-left: 54px;
      color: #c6c3c3;
      font-family: 'Kanit', sans-serif;
      text-align: co,center;
      text-align: justify;
      margin-left: 10px;
      margin-right: 10px;
      line-height: 2;
      text-transform: capitalize;
    }
    .title {
      position: absolute;
      top: 201px;
      left: -120px;
      list-style: none;
      display: inline-block;
      text-decoration: none;
      font-size: 1.6rem;
      font-weight: 600;
      margin-left: 54px;
      color: #6c0707;
      font-family: 'Kanit', sans-serif;
      text-transform: capitalize;
    }
    .episodes {
      position: absolute;
      top: 143px;
      left: 181px;
      list-style: none;
      display: inline-block;
      text-decoration: none;
      font-size: 1rem;
      font-weight: 600;
      margin-left: 54px;
      color: #c6c3c3;
      font-family: 'Kanit', sans-serif;
      text-transform: capitalize;
    }
    .episodes::after {
      content: "";
      display: block;
      background-color: #c6c3c3;
      height: 1px;
      width: 72%;
    }
    .seasons {
      position: absolute;
      top: 143px;
      left: 55px;
      list-style: none;
      display: inline-block;
      text-decoration: none;
      font-size: 1rem;
      font-weight: 600;
      margin-left: 54px;
      color: #c6c3c3;
      font-family: 'Kanit', sans-serif;
      text-transform: capitalize;
      /*! padding-bottom: 25px; */
      /*! margin-bottom: -9px; */
      /*! line-height: ; */
    }
    .seasons::after {
      content: "";
      display: block;
      background-color: #c6c3c3;
      height: 1px;
      width: 86%;
    }
    #play {
      position: absolute;
      top: 33px;
      left: -11px;
      list-style: none;
      font-size: 7rem;
      visibility: hidden;
    }
    #cardjujitsu {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      transform-style: preserve-3d;
      transition: all 0.8s ease;
      visibility: hidden;
    }

}


@media (min-width:758px) and (max-width:1278px) {
  .contain {
    position: relative;
    width: 100%;
    height: 138vh;
    background-color: black;
    overflow: hidden;
  }
  #background {
    position: absolute;
    width: 100%;
    height: 115vh;
    opacity: 30%;
  }
  .main {
  display: grid;
  grid-template-rows: 15% 85%;
    width: 80%;
    height: 102vh;
    opacity: 100%;
    margin: auto;
  }
  
  .nav {
  
  position: relative;
  
  width: 100%;
  /*! height: 17%; */
  
  border: solid;
  border-color: transparent transparent #6c0707 transparent;
  border-width: 1px;
  /*! top: 0; */
  }
  .mid{
  
    position: relative;
    display: grid;
    grid-template-rows: 80% 20%;
    width: 100%;
    /*! height: 88%; */
    /*! top: 12%; */
    }
  #icon {
    position: absolute;
    font-size: 1.3rem;
    bottom: 20px;
    left: 123px;
  }
  p1 {
    font-size: 1.5rem;
    position: absolute;
    bottom: 12px;
    left: 41px;
    font-family: 'Rubik Moonrocks', cursive;
    color: white;
  }
  .cont1 {
    position: relative;
  }
  
  p2 {
    position: absolute;
    font-size: 1.6rem;
    position: absolute;
    /*! left: 164px; */
    /*! top: 25px; */
  text-align: center;
    color: #6c0707;
    font-family: 'Kanit', sans-serif;
    font-weight: 700;
    text-transform: capitalize;
    top: 40%;
    left: 20%;
    transform: translate(-10%,-50%);
  }
  .main1 {
    position: relative;
    width: 12%;
    height: 37vh;
    top: 180px;
    left: 903px;
    border-radius: 30px;
  }
  .thecard {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  top: 137px;
  left: 891px;
  border-radius: 30px;
  border: solid;
  border-top-color: currentcolor;
  border-top-width: medium;
  border-right-color: currentcolor;
  border-right-width: medium;
  border-bottom-color: currentcolor;
  border-bottom-width: medium;
  border-left-color: currentcolor;
  border-left-width: medium;
  border-color: #fff;
  border-width: 1px;
  }
  .thecard{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transform-style: preserve-3d;
    transition: all 0.8s ease;
  }
  
  #demon {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0px;
    /*! opacity: 0%; */
    visibility: hidden;
  }
  #button {
  position: absolute;
  width: 100%;
  height: 4vh;
  color: white;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  top: 232px;
  left: 0px;
  border: solid;
  background-color: #6c0707;
  font-family: 'Kanit', sans-serif;
  font-family: 'Rubik Moonrocks', cursive;
  border-width: 1px;
  }
  p3 {
    position: absolute;
    font-size: 0.9rem;
    position: absolute;
    left: 42px;
    top: 158px;
    text-align: center;
    color: #c6c3c3;
    font-family: 'Kanit', sans-serif;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 1.8;
  }
  #flipped {
    position: absolute;
    width: 100%;
    height: 37vh;
  }
  
  .thefront{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    overflow: hidden;
  
    color: #000;
  }
  .theback{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    overflow: hidden;
    transform: rotateY(180deg);
  }
  .thecard:hover{
    transform: rotateY(180deg);
  }
  ul {
    position: absolute;
    top: 25px;
    right: 26px;
  }
  li {
    list-style: none;
    display: inline-block;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    margin-left: 54px;
    color: #c6c3c3;
    font-family: 'Kanit', sans-serif;
    cursor: pointer;
  }
   li:hover {
    color: #6c0707;
   }
  /*a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    margin-left: 54px;
    color: #c6c3c3;
    font-family: 'Kanit', sans-serif;
  }*/
  #menu {
    visibility: hidden;
  }
  .content2 {
    position: relative;
    display: grid;
    grid-template-rows: repeat(5,180px);
    width: 100%;
    height: 85%;
    background-color: rgb(8, 8, 9);
    top: -312px;
    left: 0px;
    padding-left: 13rem;
    padding-top: 8rem;
    grid-gap: 2rem;
    overflow: auto;
    visibility: hidden;
  }
  .anime {
    width: 80%;
    top: 0;
    left: 0px;
    border: solid;
    border-color: #c6c3c3;
    border-width:3px;
    translate: -1150px;
    transition: 0.6s;
    visibility: hidden;
    background-color: transparent;
  
  }
  .animeprime {
    width: 95%;
    top: 0;
    left: 0px;
    border: solid;
    /*! border-color: #c6c3c3; */
    border-width:2px;
    transition: 1s;
    visibility: visible;
    background-color: black;
    /*! border-bottom-left-radius: 30px; */
    /*! border-top-left-radius: 30px; */
    border-radius: 30px;
    border-color: #6c0707 #6c0707 #6c0707 transparent;
    cursor: pointer;
    height: 100%;
  }
  .animeprime:hover {
    opacity: 70%;
  background-image: linear-gradient(black , #6c0707);
  }
  .animeprime:hover > #play {
    visibility: hidden;
  }
  
  
  .anime1 {
    visibility: visible;
    translate: 0px;
    transition-delay: 0s;
  }
  
  
  
  .anime2 {
    visibility: visible;
    translate: 0px;
    transition-delay: 0.3s;
  }
  
  
  
  .anime3 {
    visibility: visible;
    translate: 0px;
    transition-delay: 0.6s;
  }
  
  
  
  .anime4{
    visibility: visible;
    translate: 0px;
    transition-delay: 0.9s;
  }
  
  
  
  .anime5 {
    visibility: visible;
    translate: 0px;
    transition-delay: 1.2s;
  }
  
  .piccard {
    position: absolute;
    width: 28%;
    height: 9rem;
    top: 17px;
    left: -62px;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 28px;
    border: solid;
    border-color: #6c0707;
    border-width: 2px;
    border-radius: 100px;
  }
  .resume {
    position: absolute;
    top: 42px;
    left: 84px;
    list-style: none;
    display: inline-block;
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 600;
    margin-left: 54px;
    color: #c6c3c3;
    font-family: 'Kanit', sans-serif;
    text-align: co,center;
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px;
    line-height: 2;
    text-transform: capitalize;
  }
  .title {
    position: absolute;
    top: -3px;
    left: 35px;
    list-style: none;
    display: inline-block;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 600;
    margin-left: 54px;
    color: #6c0707;
    font-family: 'Kanit', sans-serif;
    text-transform: capitalize;
  }
  .episodes {
    position: absolute;
    top: 148px;
    left: 179px;
    list-style: none;
    display: inline-block;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    margin-left: 54px;
    color: #c6c3c3;
    font-family: 'Kanit', sans-serif;
    text-transform: capitalize;
  }
  .seasons {
    position: absolute;
    top: 148px;
    left: 44px;
    list-style: none;
    display: inline-block;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    margin-left: 54px;
    color: #c6c3c3;
    font-family: 'Kanit', sans-serif;
    text-transform: capitalize;
  }
  #play {
    position: absolute;
    top: 33px;
    left: -11px;
    list-style: none;
    font-size: 7rem;
    visibility: hidden;
  }
  .thefield {
    position: relative;
    width: 45%;
    height: 31vh;
    background-color: transparent;
    top: 83%;
    left: 49%;
    visibility: hidden;
    }
    .circle {
      position: relative;
      background-color: white;
      width: 25px;
      height: 25px;
      border-radius: 30px;
      overflow:hidden;
    }
    #logo{
        position: absolute;
       font-size: 1.5rem;
       top: 50%;
       left: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
    }
    #instagram {
        top: -30px;
    
    }
    #twitter {
        top: -60px;
    
    }
    #discord {
        top: -90px;
    
    }
    #share {
      z-index: 1;
  background-color: black;
  }
    
    .click {
        transition-duration: 1.5s;
        translate: 150px;
        overflow: visible;
    }
    .click2 {
        transition-delay: 0.15;
        transition-duration: 1.5s;
        translate: 330px;
        overflow: visible;
    }
    .click3 {
        transition-delay: 0.3;
        transition-duration: 1.5s;
        translate: 500px;
        overflow: visible;
    }
    
    .acount {
    position: absolute;
    font-size: 0.9rem;
    top: 10px;
    left: 40px;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    cursor: pointer;
    }
}
@media (min-width:1279px) and (max-width:1364px) {
  .thecard {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  top: 137px;
  left: 891px;
  border-radius: 30px;
  border: solid;
  border-top-color: currentcolor;
  border-top-width: medium;
  border-right-color: currentcolor;
  border-right-width: medium;
  border-bottom-color: currentcolor;
  border-bottom-width: medium;
  border-left-color: currentcolor;
  border-left-width: medium;
  border-color: #fff;
  border-width: 1px;
  }
  .thecard{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    border-radius: 10px;
    transform-style: preserve-3d;
    transition: all 0.8s ease;
  }
  
 
  ul {
    position: absolute;
    top: 72px;
    right: 26px;
  }
 
  
}